<div id="<%= dom_id listing %>" class="">

  <p>
    <strong>Species:</strong>
    <%= listing.species %>
  </p>

  <p>
    <strong>Age:</strong>
    <%= listing.age %>
  </p>

  <p>
    <strong>Price:</strong>
    <%= listing.price %>
  </p>

  <p>
    <strong>Name:</strong>
    <%= listing.name %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= listing.description %>
  </p>

  <p>
    <strong>Sold:</strong>
    <%= listing.sold %>
  </p>

  <p>
      <%= link_to "Show this listing", listing %>
  </p>

</div>
