<p style="color: green"><%= notice %></p>

<div>
  <% if @listing.picture.attached? %>
    <%= image_tag @listing.picture, alt: @listing.name, style: "object-fit: cover; width: 100px; height: 100px" %>
  <% else %>
    <%= image_tag "https://placekitten.com/400/500", alt: @listing.name, style: "object-fit: cover; width: 100px; height: 100px" %>
  <% end %>

  <%= button_to "Purchase", place_order_path%>

  <p>
    <strong>Species:</strong>
    <%= @listing.species %>
  </p>

  <p>
    <strong>Age:</strong>
    <%= @listing.age %>
  </p>

  <p>
    <strong>Price:</strong>
    <%= @listing.price %>
  </p>

  <p>
    <strong>Name:</strong>
    <%= @listing.name %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= @listing.description %>
  </p>

  <p>
    <strong>Sold:</strong>
    <%= @listing.sold %>
  </p>
</div>

<div>
  <%= link_to "Edit this listing", edit_listing_path(@listing) %> |
  <%= link_to "Back to listings", listings_path %>
  <%= button_to "Destroy this listing", @listing, method: :delete %>
</div>
