<p style="color: green"><%= notice %></p>

<div>
  <% if @listing.picture.attached? %>
    <%= image_tag @listing.picture, alt: @listing.name, style: "object-fit: cover; width: 100px; height: 100px" %>
  <% else %>
    <%= image_tag "https://placekitten.com/400/500", alt: @listing.name, style: "object-fit: cover; width: 100px; height: 100px" %>
  <% end %>
  <%# <form action="/purchase" method="post" accept-charset="UTF-8">
  <%= button_to 'purchase', purchases_path, data: { confirm: 'Are you sure?' } %>
  <%# </form>  %>

  <% unless current_user == @listing.user %>
    <%= form_with url: purchases_path, local: true, method: :post do %>
      <input type="hidden" value="<%= @listing.id%>" name="listing_id">
      <input type="submit" value="Buy now">
    <% end %>
  <% end %>
  
  <p>
    <strong>Species:</strong>
    <%= @listing.species %>
  </p>

  <p>
    <strong>Age:</strong>
    <%= @listing.age %>
  </p>

  <p>
    <strong>Price:</strong>
    <%= @listing.price %>
  </p>

  <p>
    <strong>Name:</strong>
    <%= @listing.name %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= @listing.description %>
  </p>

  <p>
    <strong>Sold:</strong>
    <%= @listing.sold %>
  </p>
</div>

<div>
  <%= link_to "Back to listings", listings_path %>

  <% if current_user && current_user.id == @listing.user_id %>
    <%= link_to "Edit this profile", edit_listing_path(@listing) %> |
    <%= button_to "Destroy this listing", @listing, method: :delete, data: { confirm: 'Are you sure?' } %>
  <% end %>
</div>
