<h1>All Pets</h1>

<%= form_with url: '/pets', method: :get do |f| %>
  <div>
    <%= f.label :min_age, "Min age" %>
    <%= f.number_field :min_age %>
  </div>

  <div>
    <%= f.label :max_age, "Max Age" %>
    <%= f.number_field :max_age %>
  </div>

  <div>
    <%= f.select :species, ['all'] + Pet.distinct.pluck(:species) %>
  </div>

  <%= f.submit "Search" %>
<% end %>

<div style="display:flex;">
  <% @available_pets.each do |pet| %>
    <span>
      <p>speices: <%= pet.species %></p>
      <p>age: <%= pet.age %></p>
      <p>price: <%= pet.price / 100 %></p>
    </span>
  <% end %>
</div>